body {
    padding: 20px;
    margin: 0;
    background: #f2f3f4;
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

/*盒子模型*/
.box {
    display: -webkit-flex !important;
    display: flex !important;
    position: relative;
}

/*横排*/
.box-col {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.box-ac {
    -webkit-align-items: center;
    align-items: center;
}
.box-jsb {
    -webkit-justify-content: space-between;
    justify-content: space-between;
}
.box-jsa{-webkit-justify-content:space-around;justify-content:space-around;}/*左右居中对齐*/
.box-f1 {
    -webkit-flex: 1;
    flex: 1;
}



.card {background: #fff;padding: 10px 10px 5px; border-radius: 10px;box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);  }
.card img{ width: 100%;}
.card .info-list{ border-bottom: 1px dashed #eee;padding: 10px 5px; }
.card .info-list:nth-last-child(1){border-bottom: none;}
.card .title{ color: #888;font-size: 14px;}
.card .number{font-size: 14px; color: #888; text-align: center;  padding-bottom: 10px;}
.card .name{ font-size: 22px; font-weight: bold;text-align: center; margin-bottom: 5px;padding-top: 10px;}
.card .value{ text-align: right; }
.card .scores{ text-align: center; padding: 10px 0; color: #555; font-size: 14px;}
.card .scores span{font-size: 13px; color: #888; display: block; padding-bottom: 5px;}
.card .scores b{font-size: 16px; color: #333; font-weight: normal;display: block}
.card .scores #score1end{ font-weight: bold; color: #111; font-size: 18px;}
.tips{ width: 100%;  text-align: center; display: none;}
.tips label{ padding: 20px 0;font-size: 20px; font-weight: bold; color: #111; display: block;}
.cs-input {
    width: 100%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
    outline: none;
    background: #fff;
    border-radius: 30px;
    line-height: 30px;
    padding: 5px 15px;
    border: none;
    color: #555;
    font-size: 14px;
    display: block;
    margin: 0 0 20px 0;
    box-sizing: border-box;
}

.cs-btn {
    cursor: pointer;
    background: rgb(79, 80, 90);
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    display: block;
    border-radius: 30px;
    line-height: 30px;
    padding: 5px 0;
    width: 30%;
    text-align: center;
     margin-left: 10px;
     margin-bottom: 20px;
}